.jumbotron{
    color: #3f2323;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 26px;
    font-style: bold;
    font-weight: 100;
    line-height: 2.1428571435;
    background-image: url('C:/Users/dell/Desktop/ibm/a.jpg');
 }