.card{
  position: relative;
  font-style: normal ;

}


.jumbotron {
    position: relative;
    overflow: hidden;
    background-image: url('C:/Users/dell/Desktop/ibm/design-definition.jpeg');


    /* position: absolute; */
    z-index: 1;
    top: 0;
    width:70%;
    height:50%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    
  }
  
  